{% load adhoc_posts %}
<header>
  <h1><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h1>
  <p class="byline">{{ object.timestamp|date:"N j, Y" }} by <a href="{% url posts_by_author user_id=object.author.id %}">{{ object.author.get_full_name }}</a></p>
</header>

{% autoescape off %}
{% if object.header_image %}
<p class="header_image">
<img src="{{ object.header_image.medium_image.url }}" alt="{{ object }}"/>
{{ object.header_image.caption }}
</p>

{% endif %}
<div class="embed">{{ object|return_embeds:"1" }}</div>
{{ object.body }}
<div class="embed">{{ object|return_embeds:"2" }}</div>
{% endautoescape %}
