{% extends "base.html" %}
{% load adhoc_posts %}

{% block features %}
{% if features %}
<ul id="features" class="unstyled clearfix">
  {% for f in features %}
  <li class="{% cycle '' '' 'last' %}">
    <a href="{{ f.post.get_absolute_url }}"><img src="{{ f.image.feature_image.url }}" alt="{{ f }}" /></a>
    <div class="text">
      <h2><a href="{{ f.post_get_asbolute_url }}">{{ f }}</a></h2>
      {% if f.byline %}<p>{{ f.byline }}</p>{% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}
{% for object in object_list %}
<article>
  {% include "blog/post_top.html" %}
  {% if object|read_more %}<a href="{{ object.get_absolute_url }}" class="read_more">Read More</a>{% endif %}
</article>
{% empty %}
<article><h3>Sorry no posts matched.</h3></article>
{% endfor %}
{% endblock %}
