{% extends "base.html" %}
{% load adhoc_posts %}

{% block page_title %}{{ title }}{% endblock %}
{% block features %}
<div id="features_container">
{% if features %}
<ul id="features" class="unstyled clearfix">
  {% for f in features %}
  <li class="{% cycle '' '' 'last' %}">
    <a href="{{ f.post.get_absolute_url }}"><img src="{{ f.image.feature_image.url }}" alt="{{ f }}" width="260" height="260"/></a>
    <div class="text">
      <h2><a href="{{ f.post.get_absolute_url }}">{% autoescape off %}{{ f }}{% endautoescape %}</a></h2>
      {% if f.byline %}<p>{% autoescape off %}{{ f.byline }}{% endautoescape %}</p>{% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if recent_breaking or recent_features or recent_favorites %}
<div class="recent_stories_container clearfix">
{% if recent_breaking %}
<div class="recent_stories">
  <ul class="unstyled">
    {% for p in recent_breaking %}
    <li><a href="{{ p.get_absolute_url }}">{% if p.formatted_title %}{% autoescape off %}{{ p.formatted_title }}{% endautoescape %}{% else %}{{ p.title }}{% endif %}</a></li>
    {% endfor %}
    <li class="more"><a href="{% url posts_by_tag tag='breaking' %}">More Breaking</a></li>
  </ul>
</div>
{% endif %}

{% if recent_favorites %}
<div class="recent_stories">
  <ul class="unstyled">
    {% for p in recent_favorites %}
    <li><a href="{{ p.get_absolute_url }}">{% if p.formatted_title %}{% autoescape off %}{{ p.formatted_title }}{% endautoescape %}{% else %}{{ p.title }}{% endif %}</a></li>
    {% endfor %}
    <li class="more"><a href="{% url posts_by_tag tag='favorites' %}">More Favorites</a></li>
  </ul>
</div>
{% endif %}

{% if recent_features %}
<div class="recent_stories last">
  <ul class="unstyled">
    {% for p in recent_features %}
    <li><a href="{{ p.get_absolute_url }}">{% if p.formatted_title %}{% autoescape off %}{{ p.formatted_title }}{% endautoescape %}{% else %}{{ p.title }}{% endif %}</a></li>
    {% endfor %}
    <li class="more"><a href="{% url posts_by_tag tag='features' %}">More Features</a></li>
  </ul>
</div>
{% endif %}

</div>
{% endif %}
</div>
{% endblock %}

{% block content %}
{% if title %}
<h1 class="subtitle">{{ title }}</h1>
{% endif %}

{% for object in object_list %}
<article>
  {% include "blog/post_top.html" %}
  {% if object|read_more %}<a href="{{ object.get_absolute_url }}" class="read_more">Read More</a>{% endif %}
<div class="list_share">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ object.get_permalink }}">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false" data-href="{{ object.get_permalink }}"></div>
</div>
</article>
{% empty %}
<article><h3>Sorry no posts matched.</h3></article>
{% endfor %}


<ul class="pager">
  {% if page_obj.has_previous %}
  <li class="previous">
  <a href="?page={{ page_obj.previous_page_number }}">&larr; Newer</a>
  {% endif %}

  {% if page_obj.has_next %}
  <li class="next">
  <a href="?page={{ page_obj.next_page_number }}">Older &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endblock %}
