.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

body {
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top,  #000000 0%, #000000 50%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(50%,#000000), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #000000 0%,#000000 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #000000 0%,#000000 50%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #000000 0%,#000000 50%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(top,  #000000 0%,#000000 50%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

body, p, article {
    font-family: Georgia, Times New Roman, sans-serif;
    font-size: 16px;
    line-height: 22px;
}

#texture_wrapper {
    background-image: url(../images/bg_texture.png);
}

#header {
    margin-top: 20px;
    position: relative;
}

#logo {
    float: left;
}

#logo a {
    text-indent: -9999px;
    display: block;
    background: url(../images/logo.png);
    width: 192px;
    height: 205px;
}

#header .ad {
    float: right;
    margin-top: 109px;
}

#header .social {
    position: absolute;
    top: 0;
    right: 0;
}

#header .social li {
    float: left;
    margin-left: 10px;
}

#header .social a {
    background: url(../images/social.png);
    width: 50px;
    height: 50px;
    display: block;
    text-indent: -9999px;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
}

#header .social a:hover {
    opacity: 1;
}

#header .twitter a {
    background-position: -100px 0;
}

#header .rss a {
    background-position: -50px 0;
}

#header .soundcloud a {
    background-position: -150px 0;
}

#header .email a {
    background-position: -200px 0;
}

#header .search {
    position: absolute;
    right: 0;
    top: 65px;
}

#header .search input {
    background: transparent;
    border: 1px solid #666;
    color: #fefefe;
    width: 280px;
}

nav {
    background: white;
    margin: 20px 0;
}

nav ul {
    text-align: center;
    padding: 10px 0 5px;
    margin-bottom: 0;
}

nav li {
    display: inline;
    padding: 0 20px;
}

nav a {
    color: #333;
    text-transform: uppercase;
    font-size: 26px;
}

nav a:hover {
    text-decoration: none;
}

nav li.active a {
    color: #08C;
}

#features_container {
    background: url(../images/more_stories_bg.png);
    margin-bottom: 20px;
}

#features {
    margin-bottom: 0;
}

#features li {
    background: #fff;
    float: left;
    padding: 20px;
    position: relative;
    color: #fff;
    margin-right: 20px;
    min-width: 260px;
    min-height: 260px;
}

#features .last {
    margin-right: 0;
}

#features .text {
    position: absolute;
    bottom: 20px;
    width: 240px;
    padding: 10px;
    background: url(../images/featurebg.png);
}

#features h2 {
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;
}

#features a {
    color: #fff;
}

#features li > a {
    overflow: hidden;
    display: block;
}
    
#features img {
    display: block;
    overflow: hidden;
	  -webkit-transition: all 500ms ease 0;
	  -moz-transition: all 500ms ease 0;
	  -ms-transition: all 500ms ease 0;
	  -o-transition: all 500ms ease 0;
	  transition: all 500ms ease 0;
}

#features a:hover img {
	  -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
    opacity: 0.8;
}
.recent_stories_container {
    margin-bottom: 20px;
}

.recent_stories {
    width: 260px;
    float: left;
    background: white;
    padding: 0 20px 10px;
    margin-right: 20px;
}

.recent_stories ul {
    margin-bottom: 0;
}

.recent_stories li {
    border-top: 1px solid #e5e5e5;
}

.recent_stories a, .sidebar_item li a {
    display: block;
    padding: 6px 10px;
    color: #666;
}

.recent_stories a:hover , .sidebar_item li a:hover{
    text-decoration: none;
    background: #eaeaea;
}

.sidebar_item li {
    border-bottom: 1px solid #e5e5e5;
}

.sidebar_item ul {
    border-top: 1px solid #e5e5e5;
}

.recent_stories .more a {
    font-style: italic;
    font-size: 12px;
}

.recent_stories .more a:hover {
    background: none;
    text-decoration: underline;
}

.recent_stories.last {
    margin-right: 0;
}

.subtitle {
    margin-bottom: 30px;
    color: #eaeaea
}
article, .post_extras {
    padding: 20px;
    background: white;
    margin-bottom: 20px;
}

article p {
    line-height: 26px;
}

article h1 a {
    color: #333;
}

.header_image, .embed {
    margin-bottom: 20px;
}

.header_image {
    line-height: 18px;
    font-size: 14px;
    font-style: italic;
    text-align: right;
}

article h1 {
    margin-bottom: 15px;
}

.author, .tags {
    border-top: 1px solid #eaeaea;
}

.tags {
    padding: 20px 0;
}

.author {
    border-bottom: 1px solid #eaeaea;
    padding: 20px 0 20px;
    margin: 0 0 20px;
}

.share {
    padding-bottom: 20px;
}

.fb-like {
    top: -4px;
}

.author img {
    float: left;
    margin-right: 20px;
}

#sidebar h3 {
    margin-bottom: 10px;
}

#sidebar > li {
    margin-bottom: 20px;
}

#sidebar .sidebar_item {
    background: white;
    padding: 20px;
}

.sidebar_item form {
    margin-bottom: 0;
}

#sidebar .fb-like-box {
    background: #fff;
}

.sidebar_ad {
    margin-bottom: 0;
}

.sidebar_ad .inserted {
    background: white;
    margin-bottom: 20px;
}

.pager {
    margin: 0 20px 20px;
}

footer {
    text-align: center;
    padding: 20px;
}

/* Player */

.playlist {
    margin-bottom: 20px;
}

.playlist li {
    font-size: 16px;
    border: 1px solid #EAEAEA;
    padding: 8px 8px 8px 30px;
    margin-bottom: 8px;
    position: relative;
    background: url(../images/play.png) no-repeat 10px 11px;
    cursor: pointer;
}

.playlist li.disabled {
    background: none;
    cursor: auto;
    color: #999999;
}

.playlist li:hover, .playlist li.playing, .playlist li.paused {
    border: 1px solid #CCCCCC;
}

.playlist li.playing {
    background-image: url(../images/pause.png);
    background-color: #f6f6f6;
}

.playlist li.paused {
    background-color: #f0f0f0;
    color: #cccccc;
}

.playlist li.paused a {
    color: #cccccc;
}

.playlist .song_extras {
    display: none;
    font-size: 11px;
    position: absolute;
    right: 8px;
    top: 11px;
}

.playlist .song_extras a {
    -webkit-transition:none;
    -moz-transition:none;
    -o-transition:none;
    transition:none;
}

.playlist li:hover .song_extras, .playlist li.playing .song_extras, .playlist li.paused .song_extras {
    display: block;
}

#song_controls {
    margin-top: 8px;
    cursor: default;
}

#song_position {
    width: 15px;
    height: 10px;
    background: #D81921;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor:ew-resize;
    cursor:-moz-grab;
    cursor:grab;
}

.playlist li.paused #song_position {
    background: #cccccc;
}

#song_loading {
    height: 10px;
    background: #ffffff;
    width: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.read_more {
    margin-bottom: 10px;
    display: block;
}